---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Aesa - Messages'>
  <h2>Messages</h2>
  <div class='p-5' id='messages'></div>

  <script>
    fetch(`/api/all`, {
      method: 'POST',
    })
      .then((res) => res.json())
      .then(
        (
          data: {
            id: number;
            title: string;
            nickname: string;
            content: string;
            score: number;
          }[]
        ) => {
          const messages = document.getElementById('messages')!;

          data.forEach((message) => {
            messages.appendChild(document.createElement('br'));

            const div = document.createElement('div');
            div.textContent = `${message.title} (${message.nickname})`;

            const upButton = document.createElement('button');
            upButton.textContent = 'ðŸ‘';
            upButton.style.marginLeft = '1rem';
            upButton.addEventListener('click', () => {
              fetch(`/api/upvote/${message.id}`, {
                method: 'POST',
              })
                .then((res) => res.json())
                .catch(() => window.location.reload())
            });

            const score = document.createElement('span');
            score.textContent = message.score.toString();
            score.style.marginLeft = '0.5rem';
            score.style.marginRight = '0.5rem';

            const downButton = document.createElement('button');
            downButton.textContent = 'ðŸ‘Ž';
            downButton.addEventListener('click', () => {
              fetch(`/api/downvote/${message.id}`, {
                method: 'POST',
              })
                .then((res) => res.json())
                .catch(() => window.location.reload())
            });

            const quote = document.createElement('div');
            quote.textContent = message.content;
            quote.style.marginTop = '0.5rem';
            quote.style.paddingLeft = '1rem';
            quote.style.borderLeft = '2px solid white';

            div.appendChild(upButton);
            div.appendChild(score);
            div.appendChild(downButton);
            div.appendChild(quote);

            messages.appendChild(div);
          });
        }
      );
  </script>
</Layout>
