---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Aesa'>
  <h3 class='text-3xl font-extrabold'>
    Nobody commenting on your posts and pumping your ego? It's okay, we get it.
  </h3>

  <br />

   Contribute thoughts or quotes that you've got for the boys, and hear what they've
  got to say.

  <br />
  <br />

  <div class='text-center'>
    <button
      class='text-black bg-white hover:text-gray-900 border border-white hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2'
      ><a href='/messages/new'>Post now</a></button
    >

    <button
      class='text-black bg-white hover:text-gray-900 border border-white hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2'
      ><a href='/messages'>Get motivated</a></button
    >
  </div>
</Layout>
